<h1 class="text-center">My Awesome List</h1>

<table class="table table-striped mx-auto w-75">
  <thead>
    <tr>
      <th scope="col" style="width: 10%">Id</th>
      <th scope="col" style="width: 10%">Tag</th>
      <th scope="col" style="width: 20%">URL</th>
      <th scope="col" style="width: 40%">Description</th>
      <th scope="col" style="width: 20%">Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let awesome of awesomes">
    <tr>
      <th scope="row">{{ awesome.id }}</th>
      <td>{{ awesome.tag }}</td>
      <td>
        <a href="{{ awesome.url }}">{{ awesome.url }}</a>
      </td>
      <td>{{ awesome.descriptions }}</td>
      <td>
        <a
          class="btn btn-sm btn-success me-3"
          [routerLink]="['edit', awesome.id]"
          >Edit</a
        >
        <button
          type="button"
          class="btn btn-sm btn-danger"
          (click)="delete(awesome.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
